* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-page {
    width: 100vw;
    height: 100vh;
    background-color: #221f22;
}

.experience-interface {
    position: absolute;
    color: white;
    z-index: 200;

    border: 1px solid red;
}

.webgl {
    width: 100vw;
    height: 100vh;
    z-index: 100;
}