* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-page {
    display: grid;
    place-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: #221f22;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-page-container * {
    margin-bottom: 20px;
}

.home-page-container h2 {
    font-size: 3rem;
}

.home-page-container p {
    font-size: 1.5rem;
    text-align: center;
}

.experience {
    width: 100vw;
    height: 100vh;
}

.experience-interface-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 40px 0 40px;
    color: white;
}

.logo {
    min-width: 32px;
}

.models-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 128px;
}

.models-list-container h3{
    margin-bottom: 8px;
}

.models-list {
    margin-bottom: 4px;
}

.model-button {
    width: 128px;
    height: 32px;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(218, 218, 218);
    background-color: transparent;
}

.model-button:hover {
    color: black;
    background-color: white;
    border-radius: 4px;
}

.animation-button {
    width: 128px;
    height: 32px;
    color: gray;
    border: 1px solid gray;
    background-color: transparent;
}

.has-animation {
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.has-animation:hover {
    color: black;
    background-color: white;
    border-radius: 4px;
}

.is-active {
    color: black;
    background-color: white;
    border-radius: 4px;
}

#description-btn {
    min-width: 32px;
    height: 32px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    background-color: white;
}
